# Ignore files
.ipynb_checkpoints
.DS_Store

# Ignore extension
*.zip

# Ignore folder
__pycache__
data
skills_test/Names
hw
homework
deep_learning/lectures/dl_example
deep_learning/lectures/cv_example
deep_learning/lectures/nlp_example
