# Ignore files
.ipynb_checkpoints
.DS_Store

# Ignore extension
*.zip

# Ignore folder
__pycache__
data
skills_test/Names
hw
homework
deep_learning/lectures/deep_learning_example
deep_learning/lectures/computer_vision_example
